/* :root{
  --white:#c3c3d3;
} */

html {
    scroll-behavior: smooth;
   }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  /* ======== navbar section ================ */

  nav{
    height:80px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0rem calc((100vw - 1300px)/2);
    position: fixed;
    width: 100%;
    margin-bottom: 80px;
    min-height: 10vh;
    top: 0;
    z-index: 100;
  }

  
  .logo{
    color: #c3c3d3;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0rem 2rem;
    margin-right: auto;
  }

  nav a {
    text-decoration: none;
    color: #c3c3d3;
    padding: 0 1.5rem;
    position: relative;

  }

  nav a:hover{
    color: black;
  }

   /* ====================================== */


   /* ======== home bg-img section ================ */

 .banner-cont {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url('img/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
 } 
 
 .overlay {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
 } 
 
 .overlay > div {
  background-color: rgba(255, 255, 255, 0.8);
  width: 65%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50%;
 } 
 
 .banner-header {
  font-size: 90px;
  text-transform: uppercase;
 }
 
 .banner-desc {
  text-align: center;
  margin: 2em 0;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 2px;
 }
 
 .custom-btn {
  display: block;
  text-align: center;
  color: white;
  background-color: black;
  padding: 1em 5em;
  border: 1px solid black;
  text-decoration: none;
  transition: all .4s ease-in-out;
 }
 
 .custom-btn:hover {
  background-color: white;
  color: black;
 }

  /* ====================================== */
  

 /* ======== intro section ================ */
 
 .intro-heading {
  display: block;
  font-size: 90px;
 } 
 
 .intro-tag {
  margin: 1em 0;
  display: block;
  font-weight: 700;
  font-size: 22px;
 }
 
 .intro-desc {
  display: block;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
 } 
 
 .intro-cont > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }
 
 .intro-cont > div:nth-child(2) > span {
  width: 100%;
 }
 
 .img-cont {
    background-color: #e8dbd8;
    width: 290px;
    height: 290px;
    position: relative;
 } 
 
 .img-cont > div {
  position: absolute;
  left: -30px;
  top: -40px;
  background-color: #f2f7fa;
 } 

  /* ====================================== */


   /* ======== video section ================ */

  .intro-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;

   }

  .custom-cont {
    padding: 5em 10em;
   }
 
 .iframe-cont {
  position: absolute;
  right: -140px;
  top: -15px;
 }
 
 iframe {
   width: 90%;
   height: 400px;
 }

 .y-v{
  display: flex;
  justify-content: center;
  align-items: center;

 }

 .yd{
  padding-left: 3em;

 }

 /* ====================================== */


 /* ======== formula section ================ */

.formula-cont {
  background-color: #fbf3ec;

} .formula-cont > .intro-heading {
  text-align: center;

} .formula-cont > .intro-desc {
  margin: 2em 0;
  text-align: center;
}

 /* ====================================== */
  


 /* ============ Grid Section ========== */

.shape-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
} 

.shape-grid > div {
  margin-top: 2em;
  min-height: 300px;
  transition: all .4s ease-in-out;
}

.shape-grid > div:hover { 
  transform: scale(1.05);
} 

.shape-img {
  width: 100%;
  height: 85%;
  overflow: hidden;
} 

.shape-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.shape-name {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282627;
  color: white;
  min-height: 60px;
}

 /* ====================================== */


/* ============ Table Section ========== */

  table{
    width: 70%;
    border-collapse: collapse;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 20px 20px 20px 5px #c3c3d3;
    background-color: white;
    text-align: center;
    justify-content:center;
  }

    th {
      background-color: #e8dbd8;
      padding: 0.75rem 2rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: 15px;
      font-weight: 900;
    
  }

  form{
    margin-top: 5em;
  }

  td {
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
    padding: 1rem 2rem;
  }
/* ====================================== */


  /* ============ Calculator Section ========== */
.calculator {
    background-color: rgba(244,244,236, 0.8);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}

.calculator .intro-heading{
  width: 100%;
  text-align: center;
  padding-bottom: 25px;
}

#input-fields {
    width: 100%;
    text-align: left;
}

.input-container {
    margin: 20px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1;
    width: 100%;
    position: relative;
}

input , select{
    padding: 15px 5px;
    border: .6px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: 100%;
    margin: 1em 0;
}

h1 {
    margin: 0;
}

button {
    text-align: center;
    width: 100%;
}

.selector {
    flex-direction: row;
    justify-content: space-between;
}

#results {
    text-align: center;
}

#results{
  display: none;
}

.calculator-font{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('img/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.calculator-font > .overlay{
  height: 100vh !important;
  width: 100% !important;
  flex-direction: column; 
}

.calculator-font h2{
  margin-bottom: 50px;
  font-size: 25px;
  padding-top: 20px;
  margin-bottom: 50px;
}

.calculator-font h3{
  justify-content: center;
  align-items: center;
}

.cont{
  padding: 30px 15%;
  font-size: 1.3rem;
  line-height: 1.5;
}

h2{
  text-align: center;
}

#circle,#triangle,#square{
  display: none;
  width: 100%;
}

#rectangle{
  width: 100%;
}

.cont_image{
    justify-content: center;
    align-items: center;
}

.footer-front{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 260px;
}

.footer-front > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 40px;
}

.footer-front > div:nth-child(odd){
  background-color: #fbf3ec;
}

.footer-header{
  font-size: 19px;
}

.footer-front a{
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.footer-bottom{
  justify-self: flex-end;
  display: block;
  margin-top: auto;
  margin-bottom: 40px;
}
