<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome</title>
  <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
  
<!-- navigation -->
  <!-- <nav>
    <div class="logo">Cal.</div>
    <div class="nav-items">
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#formula">Formula</a>
      <a href="#video">Video</a>
      <a href="#shape">Shape</a>
      <a href="#workout">Work out</a>
    </div>
  </nav> -->

  <nav class="fill">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#formula">Formula</a></li>
      <li><a href="#video">Video</a></li>
      <li><a href="#shape">Shape</a></li>
      <li><a href="#workout">Work Out</a></li>
    </ul>
  </nav>

  <section class="banner-cont" id="home">
    <div class="overlay">
      <div>
        <span class="banner-header">Calculations</span>
        <span class="banner-desc">Experience seamless calculations at your fingertips on our webpage.<br>
          For more information or any inquiries, feel free to contact us!</span>
          <a href="/contactus" class="custom-btn">Contact Us</a>
      </div>
    </div>
  </section>

  <section class="intro-cont custom-cont" id="about">
    <div>
      <span class="intro-heading" style="margin-top: 1em;">Area</span>
      <span class="intro-tag">
        Total space taken up by an object
      </span>
      <span class="intro-desc">
        The for a 2-dimensional shape is the space enclosed within the perimeter of the given shape.<br> To
      calculate the area for different shapes, use different formulas based on the number of sides and other
      characteristics such as angles between the sides.
      </span>
    </div>
    <div>
      <div class="img-cont">
        <div>
          <img src="../static/Img/Squaring_the_circle.svg" alt="illustration" class="cont-image" />
        </div>
      </div>
    </div>
  </section>

  <section class="formula-cont custom-cont" id="formula">
    <span class="intro-heading" style="margin-top: 20px;">
      Formula
    </span>
    <span class="intro-desc">
      An approach to defining what is meant by "area" is through axioms. "Area" can be defined as a function from a collection M of a special kinds of plane figures (termed measurable sets) to the set of real numbers. the formula of a few shapes are mentioned in the given table.
    </span>
    <table>
      <tr>
        <th width="3%">S.N.</th>
        <th>shapes</th>
        <th>formula</th>
        <th> no.of sides </th>
      </tr>
      <tr>
        <td>1</td>
        <td>Rectangle</td>
        <td> l x b</td>
        <td>4</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Circle</td>
        <td>πr <sup>2</sup></td>
        <td>0</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Triangle</td>
        <td>1/2(b x h)</td>
        <td>3</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Square</td>
        <td>a <sup>2</sup></td>
        <td>4</td>
      </tr>
    </table> 
  </section>

  <section class="intro-cont custom-cont" id="video">
    <div class="y-v">
          <iframe src="https://www.youtube.com/embed/rYzEh73OIIs?si=M3liMzdWk6Zh6fmO" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>

          </iframe>
      
    </div>
    <div class="yd">
      <span class="intro-heading">Video</span>
      <span class="intro-tag">
        Short video on area calculation
      </span>
      <span class="intro-desc">
        The for a 2-dimensional shape is the space enclosed within the perimeter of the given shape.<br> To
      calculate the area for different shapes, use different formulas based on the number of sides and other
      characteristics such as angles between the sides.
      </span>
    </div>
  </section>
  
  <section class="formula-cont custom-cont" id="shape">
    <span class="intro-heading" style="margin-bottom: .5em; padding-top: 25px;">
      Area for Different Shapes
    </span>
    
    <div class="shape-grid">
      <div>
        <div class="shape-img">
          <img src="../static/img/rectb.jpg" alt="-">
        </div>
        <div class="shape-name">Rectangle</div>
      </div>
      <div>
        <div class="shape-img">
          <img src="../static/img/q.jpg" alt="-">
        </div>
        <div class="shape-name">Square</div>
      </div>
      <div>
        <div class="shape-img">
          <img src="../static/img/tri.jpg" alt="-">
        </div>
        <div class="shape-name">Triangle</div>
      </div>
      <div>
        <div class="shape-img">
          <img src="../static/img/cirb.jpg" alt="-">
        </div>
        <div class="shape-name">Circle</div>
      </div>
    </div>
  </section>

  </div>

        <div class="calculator-font" id="workout">
          <div class="overlay">
        <form action="/calculate" method="post" class="calculator">
          <span class="intro-heading">Area Calculator</span>
          
            <select name="cal" id="cal">
              <option value="rectangle">Rectangle</option>
              <option value="square">Square</option>
              <option value="circle">Circle</option>
              <option value="triangle">Triangle</option>
            </select>
            <!-- rectangle  -->
            <section id="rectangle">

          <input type="number" id="length" name="length" min="0" placeholder="length"><br>

          <input type="number" id="width" name="width" min="0" placeholder="width"><br>
          
            </section>
             
            <!-- square  -->
            <section id="square">
          <input type="number" id="lenhq" name="lenhq" min="0" placeholder="length"><br>

        </section>

           <!-- circle -->
           <section id="circle">
          <input type="number" id="radius" name="radius" min="0" placeholder="radius"><br>

        </section>
           <!-- triangle -->
           <section id="triangle">
          <input type="number" id="base" name="base" min="0" placeholder="base"><br>
          <input type="number" id="height" name="height" min="0" placeholder="height"><br>

        </section>
        {% if messages and messages.area %}
          <h2>Area of {{messages.opt}}: {{ messages.area }}</h2>
          {% endif %}
        <button class="custom-btn" type="submit">Calculate Area</button>
        </form>
      </div>
      </div>

      <div class="footer-front">
        <div>
          <span class="footer-header">Information</span>
          <a href="#home">Home</a>
          <a href="#about">About</a>
          <a href="javascript:void(o)" class="footer-bottom">© Adity Dewa Bhawa</a>
        </div>
        <div>
          <span class="footer-header">Data</span> 
          <a href="#video">Video</a>
          <a href="#shape">Shape</a>
          <div class="footer-bottom">
            <a href="https://www.facebook.com/aditya.sapkota.33/" target="_blank"><img src="../static/img/fb.svg" alt="="></a>
            <a href="https://www.instagram.com/_won_.j/" target="_blank"><img src="../static/img/ig.svg" alt="="></a>
            <a href="https://www.snapchat.com" target="_blank"><img src="../static/img/snapchat.svg" alt="="></a>
          </div>

        </div>
        <div>
          <span class="footer-header">Functionality</span>
          <a href="#formula">Formula</a>
          <a href="#workout">Work out</a>
          <a href="javascript:void(o)" class="footer-bottom">307</a>

        </div>
      </div>

        <script>
          let cal=document.getElementById('cal')
          cal.addEventListener('change',()=>{
            console.log(cal.value)
            document.getElementById('rectangle').style.display='none'
            document.getElementById('square').style.display='none'
            document.getElementById('circle').style.display='none'
            document.getElementById('triangle').style.display='none'
            document.getElementById(cal.value).style.display='block'
          })
        </script>
</body>
</html>